<div class="test">
    <h3>Đây là component Home</h3>
    <h1>Trái cây</h1>
    <br/>
    <table class="table">
        <tr>
            <th>STT</th>
            <th>Tên</th>
            <th>Giá</th>
        </tr>
        <tr *ngFor="let trai of traiCay2; let i = index">
            <td>{{i + 1}}</td>
            <td>{{ trai.ten }}</td>
            <td class="right">
                <span [ngClass]="{'so-am':trai.gia < 0 }">{{ trai.gia }}</span>
            </td>
        </tr>
    </table>
</div>